<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1>The Form</h1>
      <form>
        <div class="row">
          <div class="col-xs-12">
            <label>Email</label>
            <input 
            class="form-control"
            required>
          </div>
        </div>
        
        <div class="row" style="margin-top: 20px;">
          <div class="col-xs-12">
            <label>Select a subscription plan:</label>
            <select class="form-control">
              <option value="basic">Basic</option>
              <option value="advanced" selected>Advanced</option>
              <option value="pro">Pro</option>
            </select>
          </div>
        </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-xs-12">
              <label>Password</label>
              <input 
              type="password"
              class="form-control"
              required>
            </div>
          </div>
        
        <hr>
        <button class="btn btn-success">Submit</button>
        <button class="btn btn-danger" style="margin-left: 10px;">Cancel</button>
      </form>
      

    </div>
  </div>
</div>